.navBar {
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  background-color: white;
  padding: 0px 10px 0px 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
}

.logoText {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.logo {
  margin-right: 7px;
  width: 35px;
  height: 35px;
}

.lateralBar {
  margin-right: 8px;
  margin-left: 8px;
  margin-top: 1px;
  opacity: 0.4;
}

.list ul {
  display: flex;
  list-style: none;
  font-weight: bold;
}

.list ul li {
  margin: 15px;
  cursor: pointer;
}

.icons {
  display: flex;
}

.icons img {
  width: 20px;
  margin: 12px;
  cursor: pointer;
}
